*{
margin:0;
padding:0;
}
html{
background-color:white
}
body{ 
width:1280px;
height:800px;
margin:auto;
background-color:pink;
}
header{
width:1280px;
height:250px;
background-color:yellow;
}
nav{
width:1280px;
height:50px;
background-color:yellow;
}
main{
width:1280px;
height:400px;
background-color:green;
}
footer{
width:1280px;
height:100px;
background-color:blue;
}

section#banner{
width:1030px;
height:250px;
float:left;
background-color:red;
}
section#logo{
width:250px;
height:125px;
float:left;
background-color:gray;
}
section#login{
width:250px;
height:125px;
float:left;
background-color:magenta;
}
section#inicio{
width:250px;
height:50px;
float:left;
}
section#perfil{
width:250px;
height:50px;
float:left;
}
section#contactos{
width:250px;
height:50px;
float:left;
}
section#nosotros{
width:250px;
height:50px;
float:left;
}
aside#left{
width:105px;
height:380px;
float:left;
background-color:orange; 
padding:10px;
}
article{
width:1010px;
height:380px;
float:left;
background-color:lightgreen; 
padding:10px;
}
aside#right{
width:105px;
height:380px;
float:left;
background-color:red;
padding:10px;
}
footer{
width:1280px;
height:100px;
float:left;
background-color:blue;
}
section#ro1{
width:40px;
height:40px;
float:left; 
padding:5px;
}
section#ro2{
width:40px;
height:40px;
float:center; 
padding:5px;
}
section#ro3{
width:40px;
height:40px;
float:right; 
padding:5px;
}